{% extends "index.html" %}

{% block application %}
    <h1>MX record for {{ domain.get_normal_name }}</h1>

    <form role="form" method="post">
        {% csrf_token %}

        {{ form.dns_type }}

        {% include "bootstrap/form_field.html" with field=form.sub_domain %}
        {% include "bootstrap/form_field.html" with field=form.mx_server %}
        {% include "bootstrap/form_field.html" with field=form.priority %}

        <button type="submit" class="btn btn-primary">{% if change %}Change{% else %}Add{% endif %} record</button>

    </form>


{% endblock %}