{% extends "index.html" %}

{% block application %}
    <div class="page-header">
        <h1>DNS for {{ domain.get_normal_name }} </h1>
    </div>

    <a href="{% url 'domains:add_dns' domain_id=domain.id %}" class="btn btn-primary" style="float: right"><span class="glyphicon glyphicon-plus"></span> Add MX DNS record</a>


    <table class="table table-striped">
        <colgroup>
            <col width="150px"/>
            <col width="100px"/>
            <col/>
            <col width="200px"/>
        </colgroup>
        <thead>
        <tr>
            <th>Domain</th>
            <th>Record</th>
            <th>Value</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for record in dns %}
            <tr>
                <td>
                    {{ record.get_domain }}
                </td>
                <td>
                    IN {{ record.dns_type }}
                </td>
                <td>
                    {{ record.get_value }}
                </td>
                <td style="text-align: right">
                    {% if record.dns_type == "MX" %}
                        <a href="{% url 'domains:change_dns' domain_id=domain.id dns_id=record.id %}" class="btn"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="{% url 'domains:delete_dns' domain_id=domain.id dns_id=record.id %}" class="btn"><span class="glyphicon glyphicon-remove"></span></a>
                    {% else %}
                        <a href="#" class="btn disabled"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#" class="btn disabled"><span class="glyphicon glyphicon-remove"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}