{% extends "index.html" %}

{% block application %}
    <div class="page-header">
        <h1>Domains</h1>
    </div>

    {% if domains %}
        <a href="{% url 'domains:add_domain' %}" class="btn btn-primary" style="float: right"><span class="glyphicon glyphicon-plus"></span> Add domain</a>
    {% endif %}

    {% if domains %}
        <table class="table table-striped">
            <colgroup>
                <col width="300px"/>
                <col width="100px"/>
                <col/>
                <col width="200px"/>
            </colgroup>
            <thead>
            <tr>
                <th>Domain name</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for domain in domains %}
                <tr>
                    <td>
                        <a href="{% url 'domains:change_domain' domain_id=domain.id %}">{{ domain.name }}</a>
                    </td>
                    <td>{% if domain.is_root %}<span class="label label-primary">Used Hoster NS</span>{% endif %}</td>
                    <td>
                        {% if domain.name != domain.get_normal_name %}
                            {{ domain.get_normal_name }}
                        {% endif %}
                    </td>
                    <td style="text-align: right">
                        <a href="{% url 'domains:dns' domain_id=domain.id %}" class="btn">DNS</a>
                        <a href="{% url 'domains:change_domain' domain_id=domain.id %}" class="btn"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="{% url 'domains:delete_domain' domain_id=domain.id %}" class="btn"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <a href="{% url 'domains:add_domain' %}" class="btn btn-primary btn-lg">Add first domain</a>
    {% endif %}

{% endblock %}