{% extends "index.html" %}

{% block application %}
    <h1>{% if change %}Change{% else %}Add{% endif %} domain</h1>

    <form role="form" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-6">

                {% include "bootstrap/form_field.html" with field=form.name %}
                {% include "bootstrap/checkbox_form_field.html" with field=form.is_root %}

                <button type="submit" class="btn btn-primary">{% if change %}Change{% else %}Add{% endif %} domain</button>
            </div>
        </div>

    </form>


{% endblock %}