<!DOCTYPE html>{% load static %}
<html>
<head>
    <title>{% firstof html_title "LessHMS" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% get_static_prefix %}img/favicon.ico">

    <!-- Bootstrap -->
    <link href="{% get_static_prefix %}css/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{% get_static_prefix %}css/bootstrap/bootstrap-theme.min.css" rel="stylesheet" media="screen">

    <link href="{% get_static_prefix %}css/lesshms.css" rel="stylesheet" media="screen">

    <!--[if lt IE 9]>
      <script src="{% get_static_prefix %}js/vendor/html5shiv.js"></script>
      <script src="{% get_static_prefix %}js/vendor/respond.min.js"></script>
    <![endif]-->

    {% block js %}{% endblock %}

</head>
<body>
{% block base %}{% endblock %}

<script src="{% get_static_prefix %}js/vendor/jquery-1.10.2.min.js"></script>
<script src="{% get_static_prefix %}js/vendor/bootstrap.min.js"></script>
{% block ex_js %}{% endblock %}

<script src="{% get_static_prefix %}js/lesshms_utils.js"></script>
<script src="{% get_static_prefix %}js/lesshms.js"></script>

</body>
</html>
