{% if breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>

        {% for b in breadcrumbs %}

            {% if b.url %}
                <li{% if forloop.last %} class="active"{% endif %}><a href="{{ b.url }}">{{ b.name }}</a></li>
            {% else %}
                <li{% if forloop.last %} class="active"{% endif %}>{{ b.name }}</li>
            {% endif %}

        {% endfor %}

    </ol>
{% endif %}