{% extends "base.html" %}

{% block base %}
    <div id="wrap"><!-- #wrap -->
        {% include "main_menu.html" %}

        <div class="container">
            {% include "breadcrumbs.html" %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}

            {% block application %}{% endblock %}
        </div>

        <div style="height: 20px"></div>
    </div><!-- /#wrap -->

    {% include "footer.html" %}
{% endblock %}