<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LessHMS</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li{% if mm_item == 'dashboard' %} class="active"{% endif %}><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                <li{% if mm_item == 'domains' %} class="active"{% endif %}><a href="{% url 'domains:all' %}">Domains</a></li>
                <li{% if mm_item == 'users' %} class="active"{% endif %}><a href="{% url 'users:user_list' %}">Users</a></li>
                <li{% if mm_item == 'projects' %} class="active"{% endif %}><a href="{% url 'projects:all' %}">Projects</a></li>
                {% comment %}
                Coming soon
                <li{% if mm_item == 'caches' %} class="active"{% endif %}><a href="#caches">Caches</a></li>
                <li{% if mm_item == 'db' %} class="active"{% endif %}><a href="#db">Data Bases</a></li>
                <li{% if mm_item == 'packages' %} class="active"{% endif %}><a href="#packages">Packages</a></li>
                <li{% if mm_item == 'server' %} class="active"{% endif %}><a href="#server">Server</a></li>
                {% endcomment %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ request.user.username }}</a></li>
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>