{% extends "index.html" %}

{% block application %}
    <div class="page-header">
        <h1>Linux users</h1>
    </div>

    {% if users %}
        <a href="{% url 'users:add_user' %}" class="btn btn-primary" style="float: right"><span class="glyphicon glyphicon-plus"></span> Add user</a>
    {% endif %}

    {% if users %}
        <table class="table table-striped">
            <colgroup>
                <col width="300px"/>
                <col width="300px"/>
                <col/>
                <col width="200px"/>
            </colgroup>
            <thead>
            <tr>
                <th>Username</th>
                <th>Group</th>
                <th>Home dir</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ user.default_group.name }}
                    </td>
                    <td>
                        {{ user.get_home_dir }}
                    </td>
                    <td style="text-align: right">
                        {% comment %}<a href="{% url 'domains:dns' domain_id=domain.id %}" class="btn">DNS</a>
                        <a href="{% url 'domains:change_domain' domain_id=domain.id %}" class="btn"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="{% url 'domains:delete_domain' domain_id=domain.id %}" class="btn"><span class="glyphicon glyphicon-remove"></span></a>
                        {% endcomment %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <a href="{% url 'users:add_user' %}" class="btn btn-primary btn-lg">Add first user</a>
    {% endif %}

{% endblock %}