{% extends "index.html" %}

{% block application %}
    <h1>Add Linux User</h1>

    <form role="form" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-6">
                <fieldset>
                    <legend>User data</legend>
                    {% include "bootstrap/form_field.html" with field=form.username %}
                    {% include "bootstrap/form_field.html" with field=form.password %}
                </fieldset>

                <fieldset>
                    <legend>Group data</legend>
                    {% include "bootstrap/form_field.html" with field=form.group %}
                    {% include "bootstrap/checkbox_form_field.html" with field=form.create_group %}
                    {% include "bootstrap/form_field.html" with field=form.group_name %}
                </fieldset>

                <button type="submit" class="btn btn-primary">Add user</button>
            </div>
        </div>
    </form>

{% endblock %}