<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% get_static_prefix %}img/favicon.ico">

    <title>LessHMS</title>

    <!-- Bootstrap core CSS -->
    <link href="{% get_static_prefix %}css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% get_static_prefix %}css/signin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% get_static_prefix %}js/vendor/html5shiv.js"></script>
      <script src="{% get_static_prefix %}js/vendor/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container">
    {% block application %}
    {% endblock %}
</div><!-- /container -->
</body>
</html>
