<!-- Modal -->
<div class="modal fade" id="processModal" tabindex="-1" role="dialog" aria-labelledby="processModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create project</h4>
            </div>
            <div class="modal-body">
                <h3 class="progress-title"></h3>
                <div class="alert alert-danger" style="display: none"></div>

                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>

                <div class="time-left"></div>

            </div>
            <div class="modal-footer">
                <button type="button"  data-dismiss="modal" class="btn btn-primary disabled" id="progress-close">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->