{% extends "index.html" %}{% load static %}

{% block js %}
    <script>
        var REDIRECT_TO = 'project';
    </script>
{% endblock %}

{% block application %}
    <h1>Create project</h1>

    <form role="form" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <h3>Base parameters</h3>
                <fieldset>
                    <legend>Base</legend>
                    {% include "bootstrap/form_field.html" with field=form.name %}
                    {% include "bootstrap/form_field.html" with field=form.directory %}
                    {% include "bootstrap/form_field.html" with field=form.domain %}

                </fieldset>

                <fieldset>
                    <legend>Linux User for access</legend>
                    {% include "bootstrap/form_field.html" with field=form.user %}
                    {% include "bootstrap/checkbox_form_field.html" with field=form.create_user %}
                    {% include "bootstrap/form_field.html" with field=form.username %}
                    {% include "bootstrap/form_field.html" with field=form.password %}

                </fieldset>

            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <h3>Preset packages</h3>
                {% include "bootstrap/form_field.html" with field=form.django_version %}
                {% include "bootstrap/form_field.html" with field=form.south_version %}
                {% include "bootstrap/form_field.html" with field=form.pil_version %}

            </div>
        </div>

        <button id="save_project" type="submit" class="btn btn-primary">Create project</button>
    </form>

    {% include "projects/progress.html" %}

    <div class="var" id="project_id"></div>

{% endblock %}

{% block ex_js %}
    <script src="{% get_static_prefix %}js/vendor/ajaxq.js"></script>
{% endblock %}