{% extends "projects/project_detail.html" %}{% load static %}

{% block content %}


    <form role="form" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-6">

            {% include "bootstrap/form_field.html" with field=form.uwsgi_settings_path %}
            {% include "bootstrap/form_field.html" with field=form.uwsgi_max_requests %}
            {% include "bootstrap/form_field.html" with field=form.uwsgi_buffer_size %}
            {% include "bootstrap/form_field.html" with field=form.uwsgi_harakiri %}

            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>

    </form>




{% endblock %}
