{% extends "projects/project_detail.html" %}{% load static %}

{% block content %}


    <form role="form" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-6">

            {% include "bootstrap/form_field.html" with field=form.nginx_port %}

            <fieldset>
                <legend>Logs</legend>
                {% include "bootstrap/checkbox_form_field.html" with field=form.nginx_enable_access_log %}
                {% include "bootstrap/checkbox_form_field.html" with field=form.nginx_enable_error_log %}
            </fieldset>

            <fieldset>
                <legend>Static</legend>

                {% include "bootstrap/form_field.html" with field=form.nginx_static_root %}
                {% include "bootstrap/form_field.html" with field=form.nginx_static_subdomain %}
                {% include "bootstrap/form_field.html" with field=form.nginx_static_url %}
            </fieldset>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>

    </form>




{% endblock %}
