{% extends "projects/project_detail.html" %}{% load static %}

{% block js %}
    <script>
        var REDIRECT_TO = 'packages';
    </script>
{% endblock %}

{% block content %}

    <a href="#" id="add_package_buttom" class="btn btn-primary">Add package</a>


    <div style="clear: both"></div>

    <h3>Packages</h3>

    {% if packages %}
        <table class="table table-striped">
            <colgroup>
                <col width="400px"/>
                <col/>
                <col width="200px"/>
            </colgroup>
            <thead>
            <tr>
                <th>Package</th>
                <th>Version</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for package in packages %}
                <tr>
                    <td>
                        {{ package.package }}
                    </td>
                    <td>
                        {{ package.version }}
                    </td>
                    <td style="text-align: right">
                        {% comment %}<a href="#" class="btn"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#" class="btn"><span class="glyphicon glyphicon-remove"></span></a>{% endcomment %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}

    {% endif %}

    <!-- Modal -->

    <div class="modal fade" id="addPackageModal" tabindex="-1" role="dialog" aria-labelledby="addPackageModalLabel" aria-hidden="true">
        <form role="form" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add package</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% include "bootstrap/form_field.html" with field=form.package %}
                    {% include "bootstrap/form_field.html" with field=form.version %}
                </div>
                <div class="modal-footer">
                    <button type="submit" id="add_package" class="btn btn-primary">Add package</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->

    <div class="var" id="project_id">{{ project.id }}</div>

    {% include "projects/progress.html" %}

{% endblock %}

{% block ex_js %}
    <script src="{% get_static_prefix %}js/vendor/ajaxq.js"></script>
{% endblock %}