{% extends "index.html" %}

{% block application %}
    <div class="page-header">
        <h1>Projects</h1>
    </div>

    {% if projects %}
        <a href="{% url 'projects:add_project' %}" class="btn btn-primary" style="float: right"><span class="glyphicon glyphicon-plus"></span> Add project</a>
    {% endif %}

    {% if projects %}
        <table class="table table-striped">
            <colgroup>
                <col width="300px"/>
                <col width="150px"/>
                <col/>
                <col width="200px"/>
            </colgroup>
            <thead>
            <tr>
                <th>Project name</th>
                <th>Domain</th>
                <th>User</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>
                        <a href="{% url 'projects:detail' project_id=project.id %}">{{ project.name }}</a>
                    </td>
                    <td>
                        {{ project.domain.get_normal_name }}
                    </td>
                    <td>
                        {% if project.user %}{{ project.user.username }}{% endif %}
                    </td>
                    <td style="text-align: right">
                        {% comment %}<a href="{% url 'domains:dns' domain_id=domain.id %}" class="btn">DNS</a>
                        <a href="{% url 'domains:change_domain' domain_id=domain.id %}" class="btn"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="{% url 'domains:delete_domain' domain_id=domain.id %}" class="btn"><span class="glyphicon glyphicon-remove"></span></a>
                        {% endcomment %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <a href="{% url 'projects:add_project' %}" class="btn btn-primary btn-lg">Add first project</a>
    {% endif %}

{% endblock %}