html,
body {
    height: 100%;
}

body {
    overflow-y: scroll;
}

.block {
    width: 960px;
    margin: 0 auto;
}

.progress-title {
    text-align: center;
}

.var {
    display: none;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#footer {
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding: 60px 15px 0;
}

.container .credit {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

fieldset {
    margin-bottom: 20px;
}

legend {
    color: #00836A;
}

.time-left {
    text-align: center;
}

.project-nav {
    margin-bottom: 20px;
}

button[type=submit] {
    margin-top: 10px;
}